{% extends "base.html" %}{% load i18n %}
{% block title %}
    {% if form_volunteer %}
        {% trans "signup as volunteer"|capfirst %}
    {% else %}
        {% trans "lonely human registration"|capfirst %}
    {% endif %}
    {{ block.super }}
{% endblock title %}

{% block content %}

<h2>
   {{ title }} 
</h2>
<h3>
    {{ subtitle }}
</h3>
<hr />

<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form_user.as_p }}
    {{ form_profile.as_p }}
    <p><button type="submit">{{ button_text }}</button></p>
</form>

{% endblock content %}


{% comment %} {% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "signup as volunteer"|capfirst %}{{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "signup for LonelinessKILLs volunteers if you have enough time, empathy and energy to help people who feels abandoned and lonely in their lifes"|capfirst %} </h1>
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="role", value="volunteer" 
    <p><button type="submit">{% trans "register volunteer account"|title %}</button></p>
</form>
{% endblock content %}





{% block content %}
    <h1>
        {% if form_volunteer %}
            {% trans "Signup for LonelinessKILLs volunteers if you have enough time, empathy and energy to help people who feels abandoned and lonely in their lifes"|capfirst %}
        {% else %}
            {% trans "Signup on LonelinessKILLs if you feel lonely and want to find somebody who accept you."|capfirst %}
        {% endif %}
    </h1>
    <form method="post" action="{% url 'register_as_volunteer' %}">
        {% csrf_token %}
        {{ form_volunteer.as_p }}
        {{ form_lonelyhuman.as_p }}
        <p><button type="submit" name="submit_volunteer">{% trans "Register as volunteer"|title %}</button></p>
        <p><button type="submit" name="submit_lonelyhuman">{% trans "Register as lonely human"|title %}</button></p>
    </form>
{% endblock content %} {% endcomment %}