.header {
    text-align: center;
}

.offset-s1 {
    margin-left: 8.33333%;
}

.main-description {
    background-repeat: no-repeat;
    background-size: cover;
    color:cyan;
    backdrop-filter: contrast(5%), brightness(10%); 
}

.footer {

}


main form label {
    display: inline-block;
    width: 20vw;
    min-width: 15rem;
    font-size: 120%;    
}

main form input
main form text area
main form select
main form button {
    font-size: 120%    
}

main form .helptext {
    display: block;
    font-size: 80%
}