.header {
    text-align: center;
}

.offset-s1 {
    margin-left: 8.33333%;
}

.main-description {
    background-repeat: no-repeat;
    background-size: cover;
    color:cyan;
    backdrop-filter: contrast(5%), brightness(10%); 
}

.footer {

}
