{% extends "base.html" %}{% load static i18n %}
{{% block content %}
<h1 style="text-align:center;">🫂&ensp;{% trans "Welcome to LonelinessKILLs" %} &ensp;🫂</h1>
<main>
    <h3>
        <p></p>
        <p>&ensp;&ensp;{% trans "About this page!" %}</p>
        <p>&ensp;&ensp;{% trans "A lot of people in this world feel very lonely, especially after pandemic. Even if it's a utopic idea, this page's creator thinks that people still care about strangers. Still could find some tolerance, warmth, and acceptance in their heart and could try to offer themselves for others. This page idea is to connect people who don't have anything and feel abandoned with people who have enough empathy to understand their situation and could offer their free time for others. THIS IS NOT A DATING APP!!!" %}<br/>
            &ensp;&ensp; {% trans "I know that people who feel so lonely are vulnerable and usually afraid of others, so I could try to create as much safety as I can now to do it. Only volunteers who will be matched with your picked criteria could choose you. And only after their choice they will see your contact information" %}<br/>
            &ensp;&ensp;{% trans "I hope that here you could find somebody, who light your life a little bit." %}</p>
        <p>&ensp;&ensp;{% trans "Reminder" %}<br />
            &ensp;&ensp;{% trans "This isn't professional help for mental health. If you need professional help, please go" %} <a href="https://www.tuesi.lt/pagalbos-teikejai/" target="_blank">HERE</a>, and we will be waiting for you then you will receive it.</p>

    <p>{% trans "Total Volunteers at this time:" %} {{ volunteer_count }}</p>
    <p>{% trans "Total people, who try to find somebody at this time:" %} {{ lonely_human_count }}</p>
           
           <p></p>
 
</h3>
</main>
{% endblock content %}
